In [10]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

os.getcwd()

data = pd.read_csv("./sample_data/sensor_data_700.txt",delimiter=" ", header=None, names = ["date","time","ir","lidar"])

d = [ (data["time"]<160000) & (data["time"]>=120000) ]
d = d.loc[:, ["ir","lidar"]]

           date   time  ir  lidar
0      20180205  84535  16    734
1      20180205  84538  17    736
2      20180205  84541   6    733
3      20180205  84544  17    738
4      20180205  84547  16    734
...         ...    ...  ..    ...
86185  20180208  95056  30    746
86186  20180208  95059  20    739
86187  20180208  95102   9    744
86188  20180208  95104  18    741
86189  20180208  95108  14    744

[86190 rows x 4 columns]